---
title: "Clout Toolkit"
linkTitle: "Cloud Toolkit"
---

{{< blocks/cover title="Welcome to Cloud Toolkit!" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/cloud-toolkit/cloud-toolkit-aws/releases">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Infrastructure as Code for developers!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light-secondary" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Cloud Toolkit is a framework to deploy well-architected solutions in the Cloud with Infrastructure as Code using your preferred programming language!
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-code" title="Infrastructure as Code" %}}
Use Infrastructure as Code to build, deploy and manage the cloud infrastructure.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-gears" title="Real programming languages!" %}}
It can be used with real programming language to code the Infrastructure.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-check" title="Built with best practices!" %}}
It’s build following best practices to ensure scalability, reliability and security.
{{% /blocks/feature %}}
{{< /blocks/section >}}
